In [1]:
#Dependencies
import pandas as pd

In [2]:
#Save path to data set
purchase_file = "Resources/purchase_data.csv"

In [3]:
#Use Pandas to read the data
purchase_file_df = pd.read_csv(purchase_file)
#purchase_file_df.head(10)

In [4]:
#purchase_file_df.count()

In [141]:
#identify the types of columns
#purchase_file_df.dtypes

In [6]:
#Total Number of Gamers
#TODO:  Put into dataframe - I have tried a number of different ways to get to this answer with no luck. Look up drop duplicates to output it correctly. 
#Total_Gamers = purchase_file_df['SN'].nunique()
#print(Total_Gamers)
unique_gamers = purchase_file_df['SN'].nunique()
unique_gamers2 = [{'Total Gamers':(unique_gamers)}]
unique_gamers_df = pd.DataFrame(unique_gamers2)
unique_gamers_df
#print(unique_items)

   Total Gamers
0           576

In [137]:
#Purchase Analysis 
#TODO - Need to add the characters to the outputs.

#Unique items in the data set.
unique_items = purchase_file_df['Item ID'].nunique()
#print(unique_items)

#Average Purchase Price
average_purchase_price = (purchase_file_df['Price'].mean()).round(decimals=2)

#print(average_purchase_price)

#Total number of purchases
total_purchases = (purchase_file_df['Purchase ID']).count()
#print(total_purchases)

total_revenue = ((purchase_file_df['Price']).sum()).round(decimals=2)
#print(total_revenue)

Purchase_Analysis = [{'Total Unique Items':(unique_items), 'Average Purchase Price':(average_purchase_price), 'Total Number of Purchases':(total_purchases), 'Total_Revenue':(total_revenue)}]
purchase_df = pd.DataFrame(Purchase_Analysis)
def format(x):
    return "${:.2f}".format(x)
purchase_df['Average Purchase Price'] = purchase_df['Average Purchase Price'].apply(format)
purchase_df['Total_Revenue'] = purchase_df['Total_Revenue'].apply(format)
purchase_df

,Total Unique Items,Average Purchase Price,Total Number of Purchases,Total_Revenue
0,179,$3.05,780,$2379.77

In [8]:
#Gender Analysis
#Dropping Duplicates
dropped_purchase_file = purchase_file_df.drop_duplicates(subset=['SN'])
#dropped_purchase_file

In [9]:
#Gender Analysis
gender_of_players = dropped_purchase_file["Gender"].value_counts()
#gender_of_players

In [10]:
#Gender Analysis
# Convert the gender of players into a DataFrame
gender_of_players_df = pd.DataFrame(gender_of_players)
gender_of_players_df['Gender_pct'] = (gender_of_players_df.Gender / (gender_of_players_df.Gender.sum()/100)).round(decimals=2)
#gender_of_players_df

In [139]:
#Gender Analysis
# TODOS: Make "Genders" into "Total Count" and Add a Column "% of players"
renamed_genders_of_players_df = gender_of_players_df.rename(columns={"Gender":"Total Count", "Gender_pct":"Percentage of Players"})
def format(x):
    return "{:.2f}%".format(x)
renamed_genders_of_players_df['Percentage of Players'] = renamed_genders_of_players_df['Percentage of Players'].apply(format)
renamed_genders_of_players_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [12]:
#Gender Analysis
#Purchase Analysis by Gender
#grouped_gender_analysis_df = purchase_file_df.groupby(['Gender'])
#gender_table_df = grouped_gender_analysis_df.count()
grouped_gender_analysis_df= purchase_file_df.groupby('Gender')['Purchase ID'].count()
#grouped_gender_analysis_df

In [13]:
#Gender Analysis
#Average Purchase Price - Gender
avg_purchased_price_df= purchase_file_df.groupby('Gender')['Price'].mean().round(decimals=2)
#avg_purchased_price_df

In [14]:
#Gender Analysis
#Average Purchase Total by Person - Gender
avg_total_purchased_byperson_df= (purchase_file_df.groupby('Gender')['Price'].sum()/gender_of_players).round(decimals=2)
#avg_total_purchased_byperson_df

In [15]:
#Gender Analysis
#Total Purchase Value
total_purchased_gender_df= (purchase_file_df.groupby('Gender')['Price'].sum()).round(decimals=2)
#total_purchased_gender_df

In [119]:
#Gender Analysis
gender_table_df = pd.DataFrame({"Purchase Count": grouped_gender_analysis_df,"Average Purchase Price":avg_purchased_price_df, "Total Purchase Value": total_purchased_gender_df, "Average Purchase Total by Person": avg_total_purchased_byperson_df})
#"Average Purchase Price":[""], "Total Purchase Value": [""], "Average Purchase Total by Person": [""]})
def format(x):
    return "${:.2f}".format(x)
gender_table_df['Average Purchase Price'] = gender_table_df['Average Purchase Price'].apply(format)
gender_table_df['Total Purchase Value'] = gender_table_df['Total Purchase Value'].apply(format)
gender_table_df['Average Purchase Total by Person'] = gender_table_df['Average Purchase Total by Person'].apply(format)
gender_table_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total by Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [17]:
#Age Demographics - Binned into bins of 4 years.  
bins = [0, 10, 14, 19, 24, 29, 34, 39, 45]

# Create the names for the five bins
age_groups = ["<10", "11-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [18]:
#Age Demographics
# Age demographics paired back into the purchase file data frame for additional needed analysis.
purchase_file_df["Age Summary"] = pd.cut(purchase_file_df["Age"], bins, labels=age_groups, include_lowest=True)
#purchase_file_df

In [19]:
#Age Demographics
#Dropping Duplicates
aged_dropped_purchase_file = purchase_file_df.drop_duplicates(subset=['SN'])
#aged_dropped_purchase_file

In [20]:
#Age Demographics
#Age Demographics
age_of_players = aged_dropped_purchase_file["Age Summary"].value_counts()
#age_of_players

In [21]:
#Age Demographics
#Purchase Count - Age
grouped_age_analysis_df= purchase_file_df.groupby('Age Summary')['Purchase ID'].count()
#grouped_age_analysis_df

In [22]:
#Age Demographics
#Average Purchase Total by Person - Age
avg_total_purchased_byage_df= (purchase_file_df.groupby('Age Summary')['Price'].sum()/age_of_players).round(decimals=2)
#avg_total_purchased_byage_df

In [23]:
#Age Demographics
#Average Purchase Price - age
avg_purchased_priceage_df= purchase_file_df.groupby('Age Summary')['Price'].mean().round(decimals=2)
#avg_purchased_priceage_df

In [24]:
#Age Demographics
#Total Purchase Value
total_purchased_age_df= (purchase_file_df.groupby('Age Summary')['Price'].sum()).round(decimals=2)
#total_purchased_age_df

In [120]:
#Age Demographics
age_table_df = pd.DataFrame({"Purchase Count": grouped_age_analysis_df, "Average Purchase Price": avg_purchased_priceage_df, "Total Purchase Value": total_purchased_age_df, "Avg. Purchase Total per Person by Age Group": avg_total_purchased_byage_df})
# "Average Purchase Total by Person": [""]})

age_table_df['Average Purchase Price'] = age_table_df['Average Purchase Price'].apply(format)
age_table_df['Total Purchase Value'] = age_table_df['Total Purchase Value'].apply(format)
age_table_df['Avg. Purchase Total per Person by Age Group'] = age_table_df['Avg. Purchase Total per Person by Age Group'].apply(format)
age_table_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Purchase Total per Person by Age Group
<10,32,$3.40,$108.96,$4.54
11-14,19,$2.68,$50.95,$3.40
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [26]:
#Age Demographics
#age_table_df.dtypes

In [27]:
#Top Spenders
#Dropping Duplicates for the Top Spenders
spend_dropped_purchase_file = purchase_file_df.drop_duplicates(subset=['SN'])
#spend_dropped_purchase_file

In [28]:
#Top Spenders
#Unique - Spenders
spend_of_players = spend_dropped_purchase_file["SN"].value_counts()
#spend_of_players

In [29]:
#Top Spenders
#Purchase Count - Spender
spender_analysis_df= purchase_file_df.groupby('SN')['Purchase ID'].count()
#spender_analysis_df

In [30]:
#Top Spenders
#Average Purchase Price - Spender
avg_purchased_pricespend_df= purchase_file_df.groupby('SN')['Price'].mean().round(decimals=2)
#avg_purchased_pricespend_df

In [31]:
#Top Spenders
#Total Purchase Value - Spender
total_purchased_spender_df= (purchase_file_df.groupby('SN')['Price'].sum()).round(decimals=2)
#total_purchased_spender_df

In [32]:
#Top Spenders
#Spender Table with Fields
spend_table_df = pd.DataFrame({"Purchase Count": spender_analysis_df, "Average Purchase Price": avg_purchased_pricespend_df, "Total Purchase Value": total_purchased_spender_df})
#spend_table_df

In [121]:
#Top Spenders
#Final Spender Table sorted by top 5 spenders
top_5_spenders_df = spend_table_df.sort_values("Total Purchase Value", ascending=False)

top_5_spenders_df['Average Purchase Price'] = top_5_spenders_df['Average Purchase Price'].apply(format)
top_5_spenders_df['Total Purchase Value'] = top_5_spenders_df['Total Purchase Value'].apply(format)
top_5_spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [124]:
#Most Popular Item
#Dropping Duplicates for the Top Items
#itemid_indexed_df = purchase_file_df.set_index("Item ID")
#itemid_indexed_df
#items_dropped_purchase_file = itemid_indexed_df.drop_duplicates(subset=['Item ID'])
#items_dropped_purchase_file
#items_df = purchase_file_df[["Item ID","Item Name","Price"]]
#items_df

In [125]:
items_df.groupby(["Item ID", "Item Name"]).sum()["Price"]
#items_df

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [126]:
#Item Info
#Dropping Duplicates
nodupes_items_df = items_df.drop_duplicates(subset=['Item ID'])
#nodupes_items_df

In [127]:
#Most Popular Item - Groupby the items_df table by the item id.
count_items_df = pd.DataFrame(purchase_file_df.groupby('Item ID')['Item ID'].count())
count_items_df.columns = ['Item Count']

#count_items_df

In [93]:
#Most Popular
# Add Count back into  into the items_df file data frame for additional needed analysis.
#items_df["Purchase Count"] = pd.cut(items_df["Item ID"], bins, labels=count_items_df, include_lowest=True)
#items)

In [94]:
#Most Popular Items - Creating the purchase value of items
#total_purchased = purchase_file_df.groupby('Item ID')['Item ID'].count()
#total_purchased

In [115]:
#Most Popular Item - merging data frames
merge_df = pd.merge(nodupes_items_df, count_items_df, on='Item ID')
#merge_df

In [130]:
#Most Popular Items- Total Purchase Value
merge_df['Total Purchase Value']= pd.DataFrame((merge_df["Price"])*(merge_df["Item Count"]))
#total_purchased_df= items_df.groupby('Item ID')['Price']*("count_items_df")
#total_priced_df= purchase_file_df.groupby('Item ID')['Price'].value_count
#merge_df

In [135]:
top_items_df = merge_df.sort_values("Item Count", ascending=False)

top_items_df['Price'] = top_items_df['Price'].apply(format)
top_items_df['Total Purchase Value'] = top_items_df['Total Purchase Value'].apply(format)
top_items_df.head()

,Item ID,Item Name,Price,Item Count,Total Purchase Value
2,92,Final Critic,$4.88,13,$63.44
24,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
0,108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
17,82,Nirvana,$4.90,9,$44.10
93,145,Fiery Glass Crusader,$4.58,9,$41.22

In [134]:
most_profitable_df = merge_df.sort_values("Total Purchase Value", ascending=False)
#most_profitable_df.loc['Price']= f'${Price}'

most_profitable_df['Price'] = most_profitable_df['Price'].apply(format)
most_profitable_df['Total Purchase Value'] = most_profitable_df['Total Purchase Value'].apply(format)
most_profitable_df.head()

,Item ID,Item Name,Price,Item Count,Total Purchase Value
2,92,Final Critic,$4.88,13,$63.44
24,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
17,82,Nirvana,$4.90,9,$44.10
93,145,Fiery Glass Crusader,$4.58,9,$41.22
111,103,Singed Scalpel,$4.35,8,$34.80