In [45]:
#Dependencies
import pandas as pd

In [46]:
#Save path to data set
purchase_file = "Resources/purchase_data.csv"

In [47]:
#Use Pandas to read the data
purchase_file_df = pd.read_csv(purchase_file)
purchase_file_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [48]:
purchase_file_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [49]:
#identify the types of columns
purchase_file_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [50]:
#Total Number of Gamers
#TODO:  Put into dataframe - I have tried a number of different ways to get to this answer with no luck. Look up drop duplicates to output it correctly. 
#Total_Gamers = purchase_file_df['SN'].nunique()
#print(Total_Gamers)
unique_gamers = purchase_file_df['SN'].nunique()
unique_gamers2 = [{'Total Gamers':(unique_gamers)}]
unique_gamers_df = pd.DataFrame(unique_gamers2)
unique_gamers_df
#print(unique_items)

   Total Gamers
0           576

In [51]:
#Purchase Analysis Total
#TODO - Need to add the characters to the outputs.

#Unique items in the data set.
unique_items = purchase_file_df['Item ID'].nunique()
#print(unique_items)

#Average Purchase Price
average_purchase_price = (purchase_file_df['Price'].mean()).round(decimals=2)
#print(average_purchase_price)

#Total number of purchases
total_purchases = (purchase_file_df['Purchase ID']).count()
#print(total_purchases)

total_revenue = ((purchase_file_df['Price']).sum()).round(decimals=2)
#print(total_revenue)

Purchase_Analysis = [{'Total Unique Items':(unique_items), 'Average Purchase Price':(average_purchase_price), 'Total Number of Purchases':(total_purchases), 'Total_Revenue':(total_revenue)}]
purchase_df = pd.DataFrame(Purchase_Analysis)
purchase_df

,Total Unique Items,Average Purchase Price,Total Number of Purchases,Total_Revenue
0,179,3.05,780,2379.77

In [52]:
#Dropping Duplicates
dropped_purchase_file = purchase_file_df.drop_duplicates(subset=['SN'])
#dropped_purchase_file

In [53]:
#Gender Demographics
#TODO: How can I count unique characters, can I use (Total_Gamers)
gender_of_players = dropped_purchase_file["Gender"].value_counts()
#gender_of_players

In [54]:
# Convert the gender of players into a DataFrame
gender_of_players_df = pd.DataFrame(gender_of_players)
gender_of_players_df['Gender_pct'] = (gender_of_players_df.Gender / (gender_of_players_df.Gender.sum()/100)).round(decimals=2)
#gender_of_players_df

In [55]:
# TODOS: Make "Genders" into "Total Count" and Add a Column "% of players"
renamed_genders_of_players_df = gender_of_players_df.rename(columns={"Gender":"Total Count", "Gender_pct":"Percentage of Players"})

renamed_genders_of_players_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [56]:
#Purchase Analysis by Gender
#TODO need to breakdown by Gender.  Aggriate function on a specific column.
#grouped_gender_analysis_df = purchase_file_df.groupby(['Gender'])
#gender_table_df = grouped_gender_analysis_df.count()
grouped_gender_analysis_df= purchase_file_df.groupby('Gender')['Purchase ID'].count()
#grouped_gender_analysis_df

In [57]:
#Average Purchase Price - Gender
avg_purchased_price_df= purchase_file_df.groupby('Gender')['Price'].mean().round(decimals=2)
#avg_purchased_price_df

In [58]:
#Average Purchase Total by Person - Gender
avg_total_purchased_byperson_df= (purchase_file_df.groupby('Gender')['Price'].sum()/gender_of_players).round(decimals=2)
#avg_total_purchased_byperson_df

In [59]:
#Total Purchase Value
total_purchased_gender_df= (purchase_file_df.groupby('Gender')['Price'].sum()).round(decimals=2)
#total_purchased_gender_df

In [60]:
gender_table_df = pd.DataFrame({"Purchase Count": grouped_gender_analysis_df,"Average Purchase Price":avg_purchased_price_df, "Total Purchase Value": total_purchased_gender_df, "Average Purchase Total by Person": avg_total_purchased_byperson_df})
#"Average Purchase Price":[""], "Total Purchase Value": [""], "Average Purchase Total by Person": [""]})
gender_table_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total by Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [61]:
#Age Demographics - Binned into bins of 4 years.  
bins = [0, 10, 14, 19, 24, 29, 34, 39, 45]

# Create the names for the five bins
age_groups = ["<10", "11-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [62]:
# Age demographics paired back into the purchase file data frame for additional needed analysis.
purchase_file_df["Age Summary"] = pd.cut(purchase_file_df["Age"], bins, labels=age_groups, include_lowest=True)
#purchase_file_df

In [63]:
#Dropping Duplicates
aged_dropped_purchase_file = purchase_file_df.drop_duplicates(subset=['SN'])
#aged_dropped_purchase_file

In [64]:
#Age Demographics
age_of_players = aged_dropped_purchase_file["Age Summary"].value_counts()
#age_of_players

In [65]:
#Purchase Count - Age
grouped_age_analysis_df= purchase_file_df.groupby('Age Summary')['Purchase ID'].count()
#grouped_age_analysis_df

In [66]:
#Average Purchase Total by Person - Age
avg_total_purchased_byage_df= (purchase_file_df.groupby('Age Summary')['Price'].sum()/age_of_players).round(decimals=2)
#avg_total_purchased_byage_df

In [67]:
#Average Purchase Price - age
avg_purchased_priceage_df= purchase_file_df.groupby('Age Summary')['Price'].mean().round(decimals=2)
#avg_purchased_priceage_df

In [68]:
#Total Purchase Value
total_purchased_age_df= (purchase_file_df.groupby('Age Summary')['Price'].sum()).round(decimals=2)
#total_purchased_age_df

In [69]:
age_table_df = pd.DataFrame({"Purchase Count": grouped_age_analysis_df, "Average Purchase Price": avg_purchased_priceage_df, "Total Purchase Value": total_purchased_age_df, "Avg. Purchase Total per Person by Age Group": avg_total_purchased_byage_df})
# "Average Purchase Total by Person": [""]})
age_table_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Purchase Total per Person by Age Group
<10,32,3.40,108.96,4.54
11-14,19,2.68,50.95,3.40
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [85]:
age_table_df.dtypes

Purchase Count                                   int64
Average Purchase Price                         float64
Total Purchase Value                           float64
Avg. Purchase Total per Person by Age Group    float64
dtype: object

In [70]:
#Dropping Duplicates for the Top Spenders
spend_dropped_purchase_file = purchase_file_df.drop_duplicates(subset=['SN'])
#spend_dropped_purchase_file

In [71]:
#Unique - Spenders
spend_of_players = spend_dropped_purchase_file["SN"].value_counts()
#spend_of_players

In [72]:
#Purchase Count - Spender
spender_analysis_df= purchase_file_df.groupby('SN')['Purchase ID'].count()
#spender_analysis_df

In [73]:
#Average Purchase Price - Spender
avg_purchased_pricespend_df= purchase_file_df.groupby('SN')['Price'].mean().round(decimals=2)
#avg_purchased_pricespend_df

In [74]:
#Total Purchase Value - Spender
total_purchased_spender_df= (purchase_file_df.groupby('SN')['Price'].sum()).round(decimals=2)
#total_purchased_spender_df

In [75]:
#Spender Table with Fields
spend_table_df = pd.DataFrame({"Purchase Count": spender_analysis_df, "Average Purchase Price": avg_purchased_pricespend_df, "Total Purchase Value": total_purchased_spender_df})
#spend_table_df

In [76]:
#Final Spender Table sorted by top 5 spenders
top_5_spenders_df = spend_table_df.sort_values("Total Purchase Value", ascending=False)
top_5_spenders_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [84]:
#Dropping Duplicates for the Top Items
itemid_indexed_df = purchase_file_df.set_index("Item ID")
itemid_indexed_df
#items_dropped_purchase_file = itemid_indexed_df.drop_duplicates(subset=['Item ID'])
#items_dropped_purchase_file

,Purchase ID,SN,Age,Gender,Item Name,Price,Age Summary
Item ID,,,,,,,
108,0,Lisim78,20,Male,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
143,1,Lisovynya38,40,Male,Frenzied Scimitar,1.56,40+
92,2,Ithergue48,24,Male,Final Critic,4.88,20-24
100,3,Chamassasya86,24,Male,Blindscythe,3.27,20-24
131,4,Iskosia90,23,Male,Fury,1.44,20-24
...,...,...,...,...,...,...,...
60,775,Aethedru70,21,Female,Wolf,3.54,20-24
164,776,Iral74,21,Male,Exiled Doomblade,1.63,20-24
67,777,Yathecal72,20,Male,"Celeste, Incarnation of the Corrupted",3.46,20-24
92,778,Sisur91,7,Male,Final Critic,4.19,<10
50,779,Ennrian78,24,Male,Dawn,4.60,20-24

In [90]:
#Unique - Item ID and add the item name and price per peice
unique_items_df= itemid_indexed_df.loc[:, ["Item Name", "Price"]].drop_duplicates(subset=['Item Name'])
unique_items_df

                                         Item Name  Price
Item ID
108      Extraction, Quickblade Of Trembling Hands   3.53
143                              Frenzied Scimitar   1.56
92                                    Final Critic   4.88
100                                    Blindscythe   3.27
131                                           Fury   1.44
...                                            ...    ...
47                     Alpha, Reach of Ending Hope   3.58
130                                          Alpha   2.07
90                                        Betrayer   2.94
177       Winterthorn, Defender of Shifting Worlds   2.08
104                             Gladiator's Glaive   1.93

[179 rows x 2 columns]

In [78]:
#Unique - Item ID
#item_nubmer_purchased = spend_dropped_purchase_file["Item ID"].value_counts()
#item_nubmer_purchased

In [79]:
#Unique - Item Name
#item_name_purchased = spend_dropped_purchase_file["Item Name"].value_counts()
#item_name_purchased

In [80]:
#Unique - Item Price

item_price_purchased = spend_dropped_purchase_file["Price"].round(0).astype(int)
item_price_purchased

0      4
1      2
2      5
3      3
4      1
      ..
773    1
774    4
775    4
777    3
778    4
Name: Price, Length: 576, dtype: int32

In [81]:
#Purchase Count - Items
itemid_analysis_df= purchase_file_df.groupby('Item ID')['Item ID'].count()
#itemid_analysis_df

In [82]:
#Purchase Count - Total Purchase Value
item_purchase_value_analysis_df= itemid_analysis_df*item_price_purchased
#item_purchase_value_analysis_df

In [83]:
#Spender Table with Fields
item_table_df = pd.DataFrame({"Item ID": items_dropped_purchase_file, "Item Name": item_name_purchased, "Purchase Count": itemid_analysis_df})
item_table_df

ValueError: Shape of passed values is (7, 3), indices imply (352, 3)