In [47]:
#Dependencies
import pandas as pd

In [48]:
#Save path to data set
purchase_file = "Resources/purchase_data.csv"

In [70]:
#Use Pandas to read the data
purchase_file_df = pd.read_csv(purchase_file)
purchase_file_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [50]:
purchase_file_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [51]:
#identify the types of columns
purchase_file_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [64]:
#Total Number of Gamers
#TODO:  Put into dataframe - I have tried a number of different ways to get to this answer with no luck. Look up drop duplicates to output it correctly. 
#Total_Gamers = purchase_file_df['SN'].nunique()
#print(Total_Gamers)
unique_gamers = purchase_file_df['SN'].nunique()
unique_gamers2 = [{'Total Gamers':(unique_gamers)}]
unique_gamers_df = pd.DataFrame(unique_gamers2)
unique_gamers_df
#print(unique_items)

   Total Gamers
0           576

In [65]:
#Purchase Analysis Total
#TODO - Need to add the characters to the outputs.

#Unique items in the data set.
unique_items = purchase_file_df['Item ID'].nunique()
#print(unique_items)

#Average Purchase Price
average_purchase_price = (purchase_file_df['Price'].mean()).round(decimals=2)
#print(average_purchase_price)

#Total number of purchases
total_purchases = (purchase_file_df['Purchase ID']).count()
#print(total_purchases)

total_revenue = ((purchase_file_df['Price']).sum()).round(decimals=2)
#print(total_revenue)

Purchase_Analysis = [{'Total Unique Items':(unique_items), 'Average Purchase Price':(average_purchase_price), 'Total Number of Purchases':(total_purchases), 'Total_Revenue':(total_revenue)}]
purchase_df = pd.DataFrame(Purchase_Analysis)
purchase_df

,Total Unique Items,Average Purchase Price,Total Number of Purchases,Total_Revenue
0,179,3.05,780,2379.77

In [66]:
#Dropping Duplicates
dropped_purchase_file = purchase_file_df.drop_duplicates(subset=['SN'])
#dropped_purchase_file

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
773,773,Hala31,21,Male,19,"Pursuit, Cudgel of Necromancy",1.02
774,774,Jiskjask80,11,Male,92,Final Critic,4.19
775,775,Aethedru70,21,Female,60,Wolf,3.54
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19

In [71]:
#Gender Demographics
#TODO: How can I count unique characters, can I use (Total_Gamers)
gender_of_players = dropped_purchase_file["Gender"].value_counts()
gender_of_players

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [74]:
# Convert the gender of players into a DataFrame
gender_of_players_df = pd.DataFrame(gender_of_players)
gender_of_players_df['Gender_pct'] = (gender_of_players_df.Gender / (gender_of_players_df.Gender.sum()/100)).round(decimals=2)
#gender_of_players_df

In [113]:
# TODOS: Make "Genders" into "Total Count" and Add a Column "% of players"
renamed_genders_of_players_df = gender_of_players_df.rename(columns={"Gender":"Total Count", "Gender_pct":"Percentage of Players"})

renamed_genders_of_players_df

                       Total Count  Percentage of Players
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92

In [85]:
#Purchase Analysis by Gender
#TODO need to breakdown by Gender.  Aggriate function on a specific column.
#grouped_gender_analysis_df = purchase_file_df.groupby(['Gender'])
#gender_table_df = grouped_gender_analysis_df.count()
grouped_gender_analysis_df= purchase_file_df.groupby('Gender')['Purchase ID'].count()
grouped_gender_analysis_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [94]:
#Average Purchase Price
avg_purchased_price_df= purchase_file_df.groupby('Gender')['Price'].mean().round(decimals=2)
avg_purchased_price_df

Gender
Female                   3.20
Male                     3.02
Other / Non-Disclosed    3.35
Name: Price, dtype: float64

In [96]:
#Average Purchase Total by Person
avg_total_purchased_byperson_df= (purchase_file_df.groupby('Gender')['Price'].sum()/gender_of_players).round(decimals=2)
avg_total_purchased_byperson_df

Female                   4.47
Male                     4.07
Other / Non-Disclosed    4.56
dtype: float64

In [98]:
#Total Purchase Value
total_purchased_gender_df= (purchase_file_df.groupby('Gender')['Price'].sum()).round(decimals=2)
total_purchased_gender_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [99]:
gender_table_df = pd.DataFrame({"Purchase Count": grouped_gender_analysis_df,"Average Purchase Price":avg_purchased_price_df, "Total Purchase Value": total_purchased_gender_df, "Average Purchase Total by Person": avg_total_purchased_byperson_df})
#"Average Purchase Price":[""], "Total Purchase Value": [""], "Average Purchase Total by Person": [""]})
gender_table_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total by Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [115]:
#Age Demographics - Binned into bins of 4 years.  
bins = [0, 10, 14, 19, 24, 29, 34, 39, 45]

# Create the names for the five bins
age_groups = ["<10", "11-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [116]:
# Age demographics paired back into the purchase file data frame for additional needed analysis.
purchase_file_df["Age Summary"] = pd.cut(purchase_file_df["Age"], bins, labels=age_groups, include_lowest=True)
purchase_file_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [117]:
#get the groups of the age subscribers. 
#TODO - Add Unique 'SN' gamer id.
unique_players_age = purchase_file_df.groupby('Age Summary')
unique_age_of_player_df = unique_player_age.group.apply(lambda x: x['SN'].unique())
unique_age_of_player_df.head(15)

NameError: name 'unique_player_age' is not defined

In [ ]:
unique_players_ages= age_of_players

In [ ]:
#Average Purchase total per Person by Age Group
#Average Purchase Price
#average_purchase_price = (purchase_file_df['Price'].mean()).round(decimals=2)

In [81]:
#grouped_age_analysis_df = pd.DataFrame({"Purchase Count": [total_purchases],
                                       "Average Purchase Price":[average_purchase_price],
                                       "Total Purchase Value": [total_revenue]})
#grouped_age_analysis_df

AttributeError: 'DataFrame' object has no attribute 'value_counts'