In [1]:
#Dependencies
import pandas as pd

In [2]:
#Save path to data set
purchase_file = "Resources/purchase_data.csv"

In [3]:
#Use Pandas to read the data
purchase_file_df = pd.read_csv(purchase_file)
purchase_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#identify the types of columns
purchase_file_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [5]:
#Total Number of Gamers
#TODO:  Put into dataframe
Total_Gamers_df = purchase_file_df['SN'].nunique()
Total_Gamers_df

576

In [6]:
#Purchase Analysis Total
#TODO:  Creating a formal dataframe.  Not outputting correctly.

#Unique items in the data set.
unique_items = purchase_file_df['Item ID'].nunique()
#print(unique_items)

#Average Purchase Price
average_purchase_price = (purchase_file_df['Price'].mean()).round(decimals=2)
#print(average_purchase_price)

#Total number of purchases
total_purchases = (purchase_file_df['Purchase ID']).count()
#print(total_purchases)

total_revenue = ((purchase_file_df['Price']).sum()).round(decimals=2)
#print(total_revenue)

Purchase_Analysis = [{'Total Unique Items':(unique_items), 'Average Purchase Price':(average_purchase_price), 'Total Number of Purchases':(total_purchases), 'Total_Revenue':(total_revenue)}]
purchase_df = pd.DataFrame(Purchase_Analysis)
purchase_df

,Total Unique Items,Average Purchase Price,Total Number of Purchases,Total_Revenue
0,179,3.05,780,2379.77

In [7]:
#Gender Demographics
gender_of_players = purchase_file_df["Gender"].value_counts()
#gender_of_players

In [8]:
# Convert the gender of players into a DataFrame
gender_of_players_df = pd.DataFrame(gender_of_players)
gender_of_players_df['Gender_pct'] = (gender_of_players_df.Gender / (gender_of_players_df.Gender.sum()/100)).round(decimals=2)
#gender_of_players_df

In [9]:
# Make "Genders" into "Total Count" and Add a Column "% of players"
renamed_genders_of_players_df = gender_of_players_df.rename(columns={"Gender":"Total Count", "Gender_pct":"Percentage of Players"})

renamed_genders_of_players_df

                       Total Count  Percentage of Players
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92

In [10]:
#Purchase Analysis by Gender
grouped_gender_analysis_df = renamed_genders_of_players_df.groupby(['Total Count'])
grouped_gender_analysis_df = pd.DataFrame({"Purchase Count": [total_purchases],
                                       "Average Purchase Price":[average_purchase_price],
                                       "Total Purchase Value": [total_revenue]})
grouped_gender_analysis_df

   Purchase Count  Average Purchase Price  Total Purchase Value
0             780                    3.05               2379.77

In [11]:
#Age Demographics - Binned into bins of 4 years.  
bins = [0, 10, 14, 19, 24, 29, 34, 39, 45]

# Create the names for the five bins
age_groups = ["<10", "11-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [20]:
# Age demographics paired back into the purchase file data frame for additional needed analysis.
purchase_file_df["Age Summary"] = pd.cut(purchase_file_df["Age"], bins, labels=age_groups, include_lowest=True)
purchase_file_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,20-24
8,8,Undjask33,22,Male,21,Souleater,1.10,20-24
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,20-24
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,20-24
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,20-24
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70,20-24
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,20-24
16,16,Lisirra25,20,Male,40,Second Chance,2.52,20-24
17,17,Zontibe81,21,Male,161,Devine,1.76,20-24
18,18,Reunasu60,22,Female,82,Nirvana,4.90,20-24
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60,20-24
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48,20-24
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,132,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,11-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32,20-24
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,20-24

In [24]:
#get the groups of the age subscribers.  
age_of_players = purchase_file_df["Age Summary"].value_counts()
print(age_of_players)

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
<10       32
11-14     19
40+       13
Name: Age Summary, dtype: int64

In [25]:
grouped_age_analysis_df = purchase_file_df.groupby(["age_of_players"])
grouped_age_analysis_df = pd.DataFrame({"Purchase Count": [total_purchases],
                                       "Average Purchase Price":[average_purchase_price],
                                       "Total Purchase Value": [total_revenue]})
grouped_age_analysis_df

KeyError: 'age_of_players'