In [105]:
#Dependencies
import pandas as pd

In [106]:
#Save path to data set
purchase_file = "Resources/purchase_data.csv"

In [107]:
#Use Pandas to read the data
purchase_file_df = pd.read_csv(purchase_file)
purchase_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [108]:
#identify the types of columns
purchase_file_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [109]:
#Total Number of Gamers
#TODO:  Put into dataframe
Total_Gamers_df = purchase_file_df['SN'].nunique()
Total_Gamers_df

576

In [110]:
#Purchase Analysis Total
#TODO:  Creating a formal dataframe.  Not outputting correctly.


#Unique items in the data set.
unique_items = purchase_file_df['Item ID'].nunique()
#print(unique_items)

#Average Purchase Price
average_purchase_price = (purchase_file_df['Price'].mean()).round(decimals=2)
#print(average_purchase_price)

#Total number of purchases
total_purchases = (purchase_file_df['Purchase ID']).count()
#print(total_purchases)

total_revenue = ((purchase_file_df['Price']).sum()).round(decimals=2)
#print(total_revenue)

Purchase_Analysis = [{'Total Unique Items':(unique_items), 'Average Purchase Price':(average_purchase_price), 'Total Number of Purchases':(total_purchases), 'Total_Revenue':(total_revenue)}]
purchase_df = pd.DataFrame(Purchase_Analysis)
purchase_df

,Total Unique Items,Average Purchase Price,Total Number of Purchases,Total_Revenue
0,179,3.05,780,2379.77

In [111]:
#Gender Demographics
gender_of_players = purchase_file_df["Gender"].value_counts()
#gender_of_players

In [112]:
# Convert the gender of players into a DataFrame
gender_of_players_df = pd.DataFrame(gender_of_players)
gender_of_players_df['Gender_pct'] = (gender_of_players_df.Gender / (gender_of_players_df.Gender.sum()/100)).round(decimals=2)
#gender_of_players_df

In [113]:
# Make "Genders" into "Total Count" and Add a Column "% of players"
renamed_genders_of_players_df = gender_of_players_df.rename(columns={"Gender":"Total Count", "Gender_pct":"Percentage of Players"})

renamed_genders_of_players_df

                       Total Count  Percentage of Players
Male                           652                  83.59
Female                         113                  14.49
Other / Non-Disclosed           15                   1.92

In [122]:
#Purchase Analysis by Gender
#TODO need to breakdown by Gender
grouped_gender_analysis_df = purchase_df.groupby(['Gender'].value_counts())
#grouped_gender_analysis_df = pd.DataFrame({"Purchase Count": [total_purchases],
#                                       "Average Purchase Price":[average_purchase_price],
#                                      "Total Purchase Value": [total_revenue]})
print(grouped_gender_analysis_df)
grouped_gender_analysis_df.count().head(15)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000181D3BA3DA0>

,Total Unique Items,Average Purchase Price,Total Number of Purchases,Total_Revenue
Gender,1,1,1,1

In [115]:
#Age Demographics - Binned into bins of 4 years.  
bins = [0, 10, 14, 19, 24, 29, 34, 39, 45]

# Create the names for the five bins
age_groups = ["<10", "11-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [116]:
# Age demographics paired back into the purchase file data frame for additional needed analysis.
purchase_file_df["Age Summary"] = pd.cut(purchase_file_df["Age"], bins, labels=age_groups, include_lowest=True)
purchase_file_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [117]:
#get the groups of the age subscribers. 
#TODO - Add Unique 'SN' gamer id.
unique_players_age = purchase_file_df.groupby('Age Summary')
unique_age_of_player_df = unique_player_age.group.apply(lambda x: x['SN'].unique())
unique_age_of_player_df.head(15)

NameError: name 'unique_player_age' is not defined

In [ ]:
unique_players_ages= age_of_players

In [ ]:
#Average Purchase total per Person by Age Group
#Average Purchase Price
#average_purchase_price = (purchase_file_df['Price'].mean()).round(decimals=2)

In [81]:
#grouped_age_analysis_df = pd.DataFrame({"Purchase Count": [total_purchases],
                                       "Average Purchase Price":[average_purchase_price],
                                       "Total Purchase Value": [total_revenue]})
#grouped_age_analysis_df

AttributeError: 'DataFrame' object has no attribute 'value_counts'