In [172]:
#Dependencies
import pandas as pd

In [173]:
#Save path to data set
purchase_file = "Resources/purchase_data.csv"

In [174]:
#Use Pandas to read the data
purchase_file_df = pd.read_csv(purchase_file)
purchase_file_df.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

In [175]:
purchase_file_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [176]:
#identify the types of columns
purchase_file_df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [177]:
#Total Number of Gamers
#TODO:  Put into dataframe - I have tried a number of different ways to get to this answer with no luck. Look up drop duplicates to output it correctly. 
#Total_Gamers = purchase_file_df['SN'].nunique()
#print(Total_Gamers)
unique_gamers = purchase_file_df['SN'].nunique()
unique_gamers2 = [{'Total Gamers':(unique_gamers)}]
unique_gamers_df = pd.DataFrame(unique_gamers2)
unique_gamers_df
#print(unique_items)

   Total Gamers
0           576

In [178]:
#Purchase Analysis Total
#TODO - Need to add the characters to the outputs.

#Unique items in the data set.
unique_items = purchase_file_df['Item ID'].nunique()
#print(unique_items)

#Average Purchase Price
average_purchase_price = (purchase_file_df['Price'].mean()).round(decimals=2)
#print(average_purchase_price)

#Total number of purchases
total_purchases = (purchase_file_df['Purchase ID']).count()
#print(total_purchases)

total_revenue = ((purchase_file_df['Price']).sum()).round(decimals=2)
#print(total_revenue)

Purchase_Analysis = [{'Total Unique Items':(unique_items), 'Average Purchase Price':(average_purchase_price), 'Total Number of Purchases':(total_purchases), 'Total_Revenue':(total_revenue)}]
purchase_df = pd.DataFrame(Purchase_Analysis)
purchase_df

,Total Unique Items,Average Purchase Price,Total Number of Purchases,Total_Revenue
0,179,3.05,780,2379.77

In [179]:
#Dropping Duplicates
dropped_purchase_file = purchase_file_df.drop_duplicates(subset=['SN'])
#dropped_purchase_file

In [180]:
#Gender Demographics
#TODO: How can I count unique characters, can I use (Total_Gamers)
gender_of_players = dropped_purchase_file["Gender"].value_counts()
gender_of_players

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [181]:
# Convert the gender of players into a DataFrame
gender_of_players_df = pd.DataFrame(gender_of_players)
gender_of_players_df['Gender_pct'] = (gender_of_players_df.Gender / (gender_of_players_df.Gender.sum()/100)).round(decimals=2)
#gender_of_players_df

In [182]:
# TODOS: Make "Genders" into "Total Count" and Add a Column "% of players"
renamed_genders_of_players_df = gender_of_players_df.rename(columns={"Gender":"Total Count", "Gender_pct":"Percentage of Players"})

renamed_genders_of_players_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [183]:
#Purchase Analysis by Gender
#TODO need to breakdown by Gender.  Aggriate function on a specific column.
#grouped_gender_analysis_df = purchase_file_df.groupby(['Gender'])
#gender_table_df = grouped_gender_analysis_df.count()
grouped_gender_analysis_df= purchase_file_df.groupby('Gender')['Purchase ID'].count()
#grouped_gender_analysis_df

In [184]:
#Average Purchase Price - Gender
avg_purchased_price_df= purchase_file_df.groupby('Gender')['Price'].mean().round(decimals=2)
#avg_purchased_price_df

In [185]:
#Average Purchase Total by Person - Gender
avg_total_purchased_byperson_df= (purchase_file_df.groupby('Gender')['Price'].sum()/gender_of_players).round(decimals=2)
#avg_total_purchased_byperson_df

In [186]:
#Total Purchase Value
total_purchased_gender_df= (purchase_file_df.groupby('Gender')['Price'].sum()).round(decimals=2)
#total_purchased_gender_df

In [187]:
gender_table_df = pd.DataFrame({"Purchase Count": grouped_gender_analysis_df,"Average Purchase Price":avg_purchased_price_df, "Total Purchase Value": total_purchased_gender_df, "Average Purchase Total by Person": avg_total_purchased_byperson_df})
#"Average Purchase Price":[""], "Total Purchase Value": [""], "Average Purchase Total by Person": [""]})
gender_table_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total by Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [188]:
#Age Demographics - Binned into bins of 4 years.  
bins = [0, 10, 14, 19, 24, 29, 34, 39, 45]

# Create the names for the five bins
age_groups = ["<10", "11-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [189]:
# Age demographics paired back into the purchase file data frame for additional needed analysis.
purchase_file_df["Age Summary"] = pd.cut(purchase_file_df["Age"], bins, labels=age_groups, include_lowest=True)
purchase_file_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Summary
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [190]:
#Gender Demographics
#TODO: How can I count unique characters, can I use (Total_Gamers)
age_of_players = dropped_purchase_file["Age Summary"].value_counts()
age_of_players

KeyError: 'Age Summary'

In [191]:
#Purchase Count - Age
grouped_age_analysis_df= purchase_file_df.groupby('Age Summary')['Purchase ID'].count()
grouped_age_analysis_df

Age Summary
<10       32
11-14     19
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [162]:
#Average Purchase Total by Person - Age
avg_total_purchased_byage_df= (purchase_file_df.groupby('Age Summary')['Price'].sum()/age_of_players).round(decimals=2)
avg_total_purchased_byage_df

NameError: name 'age_of_players' is not defined

In [169]:
#Average Purchase Price - age
avg_purchased_priceage_df= purchase_file_df.groupby('Age Summary')['Price'].mean().round(decimals=2)
avg_purchased_priceage_df

Age Summary
<10      3.40
11-14    2.68
15-19    3.04
20-24    3.05
25-29    2.90
30-34    2.93
35-39    3.60
40+      2.94
Name: Price, dtype: float64

In [168]:
#Total Purchase Value
total_purchased_age_df= (purchase_file_df.groupby('Age Summary')['Price'].sum()).round(decimals=2)
total_purchased_age_df

Age Summary
<10       108.96
11-14      50.95
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [170]:
age_table_df = pd.DataFrame({"Purchase Count": grouped_age_analysis_df, "Average Purchase Price": avg_purchased_priceage_df, "Total Purchase Value": total_purchased_age_df, "Total Purchase Value": total_purchased_age_df})
# "Average Purchase Total by Person": [""]})
age_table_df

             Purchase Count  Average Purchase Price  Total Purchase Value
Age Summary
<10                      32                    3.40                108.96
11-14                    19                    2.68                 50.95
15-19                   136                    3.04                412.89
20-24                   365                    3.05               1114.06
25-29                   101                    2.90                293.00
30-34                    73                    2.93                214.00
35-39                    41                    3.60                147.67
40+                      13                    2.94                 38.24